@page "/acercade"

<h1>Acerca de Mí</h1>

<!-- Imagen de perfil -->
<img src="C:\Users\Akira\Downloads\Foto 2x2.jpeg" alt="Foto de Perfil" width="150" height="150" />

<p>Nombre: [Rusbel Ohara Uceta Sosa]</p>

<!-- Enlaces a WhatsApp y Telegram -->
<p>WhatsApp: <a href="https://wa.me/8493152106">Chatea en WhatsApp</a></p>
<p>Telegram: <a href="https://t.me/rusbelucetasosa">Chatea en Telegram</a></p>

<!-- Email -->
<p>Email: <a href="mailto:rusbeluceta24@gmail.com">Enviar correo electrónico</a></p>

<!-- Descripción -->
<p>Me gustaría dedicarme a [tu meta profesional] al graduarme del ITLA.</p>
