@page "/aprendemas"

<h1>Aprende Más sobre Blazor</h1>

<!-- Incrustación de vídeos -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/weda0npFxtk" frameborder="0" allowfullscreen></iframe>
<p>Este video es una introducción a Blazor WebAssembly. Me gustó porque explica los conceptos básicos.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/qckkEiTUvtM" frameborder="0" allowfullscreen></iframe>
<p>Este video muestra cómo se instala Blazor y cómo crear un proyecto con la configuración pertinente.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/sX5W68oerqQ" frameborder="0" allowfullscreen></iframe>
<p>Este video muestra la estructura de una plantilla de Blazor.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/sX5W68oerqQ" frameborder="0" allowfullscreen></iframe>
<p>Este video muestra cómo instalar Visual Studio Code.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hAFFyEUpQnA" frameborder="0" allowfullscreen></iframe>
<p>Este último video muestra las últimas novedades del framework .NET 8.</p>
