@page "/"

<h1>¡Bienvenido a mi tarea de Blazor!</h1>
<p>Gracias por visitar mi proyecto. Aquí aprenderás sobre Blazor y verás cómo he implementado mis conocimientos.</p>
<blockquote>“La programación no es sólo sobre escribir código, es sobre resolver problemas de manera creativa.”</blockquote>

